<%= form_for(@vcard) do |f| %>
  <% if @vcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vcard.errors.count, "error") %> prohibited this vcard from being saved:</h2>

      <ul>
      <% @vcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
